body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(300deg, grey 0%, rgb(50, 50, 50) 100%);
}

.container {
    border: solid 5px rgba(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 5px 2px;
    position: relative;
}

#background {
    background-image: url(/images/snow_mountain_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
}

button {
    position: absolute;
    width: 40px;
    height: 50px;
    top:35vh;
    background: linen;
    border-radius: 5px;
    border:solid 4px rgb(0, 0, 50);
    font-size: 25px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.left {
    left: -20px;
}

.right {
    right: -20px;
}

#instructions {
    position: absolute;
    font-size: 30px;
    text-align: center;
    width: 100%;
    color:rgba(50, 50, 50);
    top: -1000px;
    animation: movement 5s linear;
}

@keyframes movement {
    0%   {top: -10px; left: 0px;}
    25% {opacity: 1;}
    100% {opacity: 0}
    100%  {top: 100px; left: 0px;}
  }

