body {
    margin-top: auto;
    text-align: center;
    align-items: center;
    background: rgba(0, 206, 209, 0.536);
    justify-content: center;
    display: flex;
    height: 100vh;
}

button {
    padding: 10px;
    background-color: rgb(205, 201, 92);
    border: 5px solid rgb(63, 79, 4);
    font-family: 'Gill Sans';
    font-size: 25px; 
}

.container {
    margin: auto;
    position: relative;
    justify-content: center;
    background: rgba(255, 65, 1, 0.338);
    width: 400px;
    height: fit-content;
    border:2px solid rgb(63, 79, 4);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 10px black;
}

#quote {
    margin: center;
    font-family: 'Gill Sans';
    font-size: 25px;
}

#author {
    font-family: 'Gill Sans';
    font-size: 35px;
    text-align: right;
    padding: 10px;
    color: brown;
}